@use '../../lib/service.scss' as s;

@use '../../lib/service.scss' as s;
.form-text {
  display: flex;
  flex-direction: column;
  gap: s.space(2);
  width: 100%;
}

.form-text__label {
  font-size: 16px;
  color: s.color('dark_ligth');
  padding-bottom: s.space(2);
}