@use '../../lib/service.scss' as s;

.button {
    background-color: s.color('main');
    color: s.color('white');
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
  }