{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <section class="nav">
    <h1 class="nav__title">Вітаю, оберіть форму:</h1>
    <div class="nav__list">
      <a href="/user" class="nav__link">USER</a>
    </div>
    <div class="nav__list">
      <a href="/product" class="nav__link">PRODUCT</a>
    </div>
    <div class="nav__list">
      <a href="/purchase" class="nav__link">PRODUCT</a>
    </div>
  </section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}