{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main">
  <div class="main__content">
    <header class="header">
      <h1 class="title title--center title--big">Моя бібліотека</h1>
      <div class="header__icons">
        <a href="/spotify-search" class="">
          <img src="/svg/search_playlist.svg" width="40px" heigth="40px">
        </a>
        <a href="/spotify-choose" class="">
          <img src="/svg/add_playlist.svg" width="40px" heigth="40px">
        </a>
      </div>
    </header>

    {{#with data}}
    <ul class="playlist__list">
      {{#each lib}}
      <li class="myPlaylist">
        <img src="{{image}}" alt="{{name}}">
        <div class="track__content">
          <strong class="track__name">{{name}}</strong>
          <p class="track__author">{{tracks.length}}музики</p>
        </div>
      </li>
      {{/each}}
    </ul>
    {{/with}}
  </div>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}