{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div>
  <h1>{{info}}</h1>
  <a href="/">Повернутися назад</a>
</div>
<<<<<<< HEAD
<div>
  <h1>{{info_prod}}</h1>
  <a href="/product-create">Повернутися назад</a>
</div>
=======
>>>>>>> 76485054a94ff4936df900df5cad8c48934002f9

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}